/*
Bootstrap Package Iconpack v1.0.0
*/
@font-face {
  font-family: "Bootstrap Package Iconpack";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/bpi.woff2?6b4980b8f5099e107f9d6e6e4e054ece") format("woff2"), url("../webfonts/bpi.woff?6b4980b8f5099e107f9d6e6e4e054ece") format("woff"), url("../webfonts/bpi.ttf?6b4980b8f5099e107f9d6e6e4e054ece") format("truetype");
}
.bpi {
  font-family: "Bootstrap Package Iconpack";
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.bpi::before {
  content: var(--bpi);
}

.bpi-bluesky {
  --bpi: "\f000";
}

.bpi-discord {
  --bpi: "\f001";
}

.bpi-facebook {
  --bpi: "\f002";
}

.bpi-file {
  --bpi: "\f003";
}

.bpi-file-audio {
  --bpi: "\f004";
}

.bpi-file-image {
  --bpi: "\f005";
}

.bpi-file-video {
  --bpi: "\f006";
}

.bpi-github {
  --bpi: "\f007";
}

.bpi-gitlab {
  --bpi: "\f008";
}

.bpi-instagram {
  --bpi: "\f009";
}

.bpi-linkedin {
  --bpi: "\f00a";
}

.bpi-mastodon {
  --bpi: "\f00b";
}

.bpi-researchgate {
  --bpi: "\f00c";
}

.bpi-rss {
  --bpi: "\f00d";
}

.bpi-telegram {
  --bpi: "\f00e";
}

.bpi-threads {
  --bpi: "\f00f";
}

.bpi-vimeo {
  --bpi: "\f010";
}

.bpi-vk {
  --bpi: "\f011";
}

.bpi-whatsapp {
  --bpi: "\f012";
}

.bpi-x {
  --bpi: "\f013";
}

.bpi-xing {
  --bpi: "\f014";
}

.bpi-youtube {
  --bpi: "\f015";
}